@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-display: "Manrope", "var(--font-sans)";
  --font-secondary: "Outfit", "var(--font-sans)";

  --container-full: 100%;

  --color-primary: #99E5B7;

  --color-text-color: #141414;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}

:root {
  --ui-container: var(--container-full);

  --ui-primary: var(--color-primary);

  --ui-text: var(--color-text-color)
}